
<html>

<head>
    <style>
        body {
            font-family: Arial;
            margin: 0;
        }
        table {
            margin: 15px;
            font-size: 11px;
            border-spacing: 0;
            border-collapse: collapse;
        }
        td, th {
            border: solid gray 1px;
            padding: 5px;
            white-space: nowrap;
        }
        iframe {
            width: 100%;
            height: 650px;
            border: none;
        }
        input[type='number'] {
            width: 80px;
        }
        p {
            margin-left: 15px;
        }
        .info {
            color: grey;
            margin-bottom: 10px;
        }
    </style>
</head>


<body>
    
    <table>
        <thead>
            <tr>
                {% for col in columns %}
                    <th>
                        {{ col.name }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for td in row %}
                        <td>{{ td }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <div style="display: flex; margin: 15px;">
        <div>
            <p>
                <div class="info">
                    Choose 2 number columns from the table above.
                    These will be used in a scatter plot in Vitessce.
                </div>
                X axis:
                <select name="x_axis">
                    {% for col in columns %}            
                        {% ifequal col.type "number" %}
                        <option value="{{ col.name }}">
                            {{ col.name }}
                        </option>
                        {% endifequal %}
                    {% endfor %}
                </select>

                Y axis:
                <select name="y_axis">
                    {% for col in columns %}
                        {% ifequal col.type "number" %}
                        <option value="{{ col.name }}">
                            {{ col.name }}
                        </option>
                        {% endifequal %}
                    {% endfor %}
                </select>
            </p>
            <p>
                <div class="info">
                    An Image ID or OME-Zarr URL to display in Vitessce.
                </div>
                Image:
                <input id="image_id" name="image" type="number" value="{{ image_id }}" />

                <img id="thumbnail" style="max-width: 96px; max-height: 96px;"
                    {% if image_id %}
                        src="{% url 'render_thumbnail' image_id %}"
                    {% endif %}
                />
            </p>
        </div>
        <div style="position: relative">
            <p style="position: absolute; bottom: 0; width: 200px; margin-left: 15px;">
                <button id="plot_vitessce">Open Vitessce</button>
            </p>
        </div>
    </div>

    <iframe id="vitessce_frame"></iframe>
    <script>

    const webindex = "{% url 'webindex' %}";

    function plot_vitessce() {
        const x_axis = document.querySelector("select[name='x_axis']").value;
        const y_axis = document.querySelector("select[name='y_axis']").value;
        const image_id = document.getElementById("image_id").value;
        console.log('xy', x_axis, y_axis);

        const index_url = "{{ index_url }}";
        const file_id = "{{ table_id }}";
        let config_url = `${index_url}vitessce_config/${file_id}/${x_axis}/${y_axis}/`;
        if (image_id) {
            config_url = config_url + `?image=${image_id}`;
        }

        const url = `http://vitessce.io/index.html?url=${config_url}`;


        console.log(url);
        document.getElementById('vitessce_frame').src = url;
        // window.open(url, '_blank');
    }

    // Handle 'submit'
    document.getElementById("plot_vitessce").addEventListener(
        "click",
        (event) => {
            event.preventDefault();
            plot_vitessce();
        }
    )

    // When Image ID changes, update thumbnail
    document.getElementById("image_id").addEventListener(
        "change",
        (event) => {
            const iid = event.target.value;
            const imgSrc = `${ webindex }render_thumbnail/${ iid }/`;
            document.getElementById("thumbnail").src = imgSrc;
        }
    )

    </script>
</body>
</html>